.navBar {
    position: fixed;
    top: o;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: #111; */
    /*if you want navbar background undo the commend*/
}

.header-logo {
    position: fixed;
    left: 20px;
    width: 80px;
}

.header-avatar {
    position: fixed;
    right: 20px;
    width: 30px;
}